/*[ Cart ]
///////////////////////////////////////////////////////////
*/
/*[ Table ]
-----------------------------------------------------------
*/
.wrap-table-shopping-cart {
  overflow: auto;
}

.container-table-cart::before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: calc(100% - 51px);
  background-color: #e6e6e6;
  top: 51px;
  left: 0;
}

.container-table-cart::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: calc(100% - 51px);
  background-color: #e6e6e6;
  top: 51px;
  right: 0;
}

.table-shopping-cart {
  border-collapse: collapse;
  width: 100%;
  min-width: 992px;
}

.table-shopping-cart .table-row {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.table-shopping-cart .column-1 {
  width: 225px;
  padding-left: 50px;
}
.table-shopping-cart .column-2 {
  width: 330px;
  padding-right: 30px;
}
.table-shopping-cart .column-3 {
  width: 133px;
  padding-right: 30px;
}
.table-shopping-cart .column-4 {
  width: 355px;
  padding-right: 30px;
}
.table-shopping-cart .column-5 {
  padding-right: 30px;
}

.table-shopping-cart .table-head th {
  font-family: Montserrat-Bold;
  font-size: 13px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
}

.table-shopping-cart td {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
  padding-top: 37px;
  padding-bottom: 30px;
}

.table-shopping-cart .table-row .column-2 {
  font-size: 15px;
}


/* ------------------------------------ */
.cart-img-product {
  width: 90px;
  position: relative;
}

.cart-img-product img {
  width: 100%;
}

.cart-img-product::after {
  content: '\e870';
  font-family: Linearicons;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  opacity: 0;
}

.cart-img-product:hover:after {
  cursor: pointer;
  opacity: 1;
}


/*[ Tags ]
///////////////////////////////////////////////////////////
*/
.wrap-tags {
  margin-right: -3px;
  margin-left: -3px;
}

.tag-item {
  display: block;
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #888888;
  line-height: 1.5;
  padding: 5px 15px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  margin: 3px;
}

.tag-item:hover {
  border: 1px solid #0056b3;
}


/*[ tab01 ]
///////////////////////////////////////////////////////////
*/
.tab01 .nav-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom: none;
  margin-right: -15px;
  margin-left: -15px;
}

.tab01 .nav-tabs .nav-item {
  padding: 8px 16px;
}

.tab01 .nav-link {
  padding: 0;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid transparent;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #888888;
  line-height: 1.1;
}

.tab01 .nav-link.active {
    color: #333333;
    border-bottom: 1px solid #6a6a6a;
}

.tab01 .nav-link:hover {
    color: #333333;
    border-bottom: 1px solid #6a6a6a;
}

@media (max-width: 480px) {
  .tab01 .nav-tabs .nav-item {
    padding: 8px 6px;
  }

  .tab01 .nav-tabs {
    margin-right: -6px;
    margin-left: -6px;
  }
}


/*[ Modal video 01 ]
///////////////////////////////////////////////////////////
*/
body {padding-right: 0px !important;}

.modal {
  padding: 0px !important;
  z-index: 1360;
  overflow-x: hidden;
  overflow-y: auto !important;
}
.modal-open {overflow-y: scroll;}

/* ------------------------------------ */
.modal-backdrop {
  background-color: transparent;
}

#modal-video-01 {
  background-color: rgba(0,0,0,0.8);
  z-index: 1350;
  
}

#modal-video-01 .modal-dialog {
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrap-video-mo-01 {
  width: 854px;
  height: auto;
  position: relative;
  margin: 15px;
}

.video-mo-01 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s;
}

.video-mo-01 iframe {
  width: 100%;
  height: 100%;
}

.close-mo-video-01 {
  font-size: 50px;
  color: white;
  opacity: 0.6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1250;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
}

.close-mo-video-01:hover {
  cursor: pointer;
  opacity: 1;
}


/*[ Input NumProduct ]
///////////////////////////////////////////////////////////
*/
input.num-product {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input.num-product::-webkit-outer-spin-button,
input.num-product::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}


