<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>First WebSite Design</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/Header&footer.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
<!-------------------------------------------------------TopNav---------------------------------------------------------->
      <ul class="nav topnav" id="nav1">
        <li class="nav-item">
          <a class="nav-link" href="#">Aide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">A propos de nous</a>
        </li>
      </ul>
      <ul class="nav justify-content-end topnav" id="nav2">
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="#"><i class="fa fa-percent" aria-hidden="true"></i>Suivre nos promotions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Se connecter</a>
        </li>
      </ul>      
<!------------------------------------------------------LogoSearchNav----------------------------------------------------------->
       <div class="nav" id="navbar">
        <span class="logo">
            <a href="homepage.html"><img src="img\whitelogo1.png" class="img-fluid" id="logoimg" ></a>
          </span>
       <div  class="search">
        <input type="search" class="form" placeholder="search">
         <span class="input"><i class="fa fa-search" aria-hidden="true"></i></span>
       </div>
       <div class="nav2">
        <ul>
         <li class="compte"><a href="#"><i class="fas fa-user-circle"></i>Mon compte</a></li>
         <li class="panier"><a href="#"><i class="fa fa-shopping-basket"></i>Panier</a></li>
         <li class="panier"><a href="#"><i class="fas fa-money-check-alt"></i>Vendre</a></li>
        </ul>
       </div>
      </div>
<!----------------------------------------------------------MegaMenu-------------------------------------------------------------------> 
      <div class="nav-3">     
       <ul class="nav3">
           <li><a href="homepage.html" id="accueil">Accueil</a></li>
          <li>
           <a href="#">Catégories</a>
           <div>
            <div class="nav-column">
             <h3>Mode</h3>
             <ul>
              <li><a href="#">Vêtements femme</a></li>
              <li><a href="#">Vêtements homme</a></li>
              <li><a href="#">Chaussures femme</a></li>
              <li><a href="#">Chaussures homme</a></li>
              <li><a href="#">Accessoire femme</a></li>
              <li><a href="#">Accessoire homme</a></li>
             </ul>
            </div>
            <div class="nav-column">
             <h3>Eléctroménager</h3>
             <ul>
              <li><a href="#">Télévisions</a></li>
              <li><a href="#">Eléctroménager</a></li>
              <li><a href="#">Appareil photo</a></li>
              <li><a href="#">Audio</a></li>
              <li><a href="#">Accessoires TV</a></li>
              <li><a href="#">Caméras</a></li>
             </ul>
             <h3>Beauté</h3>
             <ul>
              <li><a href="#">Maquillage</a></li>
              <li><a href="#">Parfum</a></li>
              <li><a href="#">Cheveux,Coiffure</a></li>
              <li><a href="#">Soin</a></li>
             </ul>
            </div>
            <div class="nav-column">
             <h3>Informatique</h3>
             <ul>
              <li><a href="#">Ordinateurs</a></li>
              <li><a href="#">Téléphones</a></li>
              <li><a href="#">Tablettes</a></li>
              <li><a href="#">Périphériques</a></li>
              <li><a href="#">Imprimantes</a></li>
              <li><a href="#">Scanners</a></li>
             </ul>
            </div>
            <div class="nav-column">
             <h3>Lifestyle</h3>
             <ul>
              <li><a href="#">Sports,Fitness</a></li>
              <li><a href="#">Musique</a></li>
              <li><a href="#">Accessoires</a></li>
             </ul>
             <h3>Autres</h3>
             <ul>
              <li><a href="#">Bébé,puériculture</a></li>
              <li><a href="#">Jeux,jouets</a></li>
             </ul>
            </div>
           </div>
          </li>
          <li><a href="#">Services</a>
           <div>
            <div class="nav-column">
             <h3>Evènements</h3>
             <ul>
              <li><a href="#">Restaurants,café</a></li>
              <li><a href="#">Cameraman,DJ</a></li>
              <li><a href="#">Salles des fetes</a></li>
              <li><a href="#">Formations</a></li>
              <li><a href="#">Décorations</a></li>
              <li><a href="#">Hotellerie</a></li>
             </ul>
            </div>
            <div class="nav-column">
             <h3>Services</h3>
             <ul>
              <li><a href="#">Médecin,santé</a></li>
              <li><a href="#">Nettoyage,jardinage</a></li>
              <li><a href="#">Beauté</a></li>
              <li><a href="#">Réparation</a></li>
              <li><a href="#">Informatique</a></li>
              <li><a href="#">Autres</a></li>
             </ul>
            </div>
            <div class="nav-column">
             <img src="img\service.jpg" id="service-img">
             <ul>
              <li><a id="ajout-service">Ajouter un service</a></li>
             </ul>
            </div>
           </div>
          </li>
         </ul>
        </div>
<!--------------------------------------------------------Footer--------------------------------->
      <section class="footer">
        <div class="container">
          <div class="row align-items-start">
            <div class="col" id="col-lg-2">
              <div class="footer-title">
                <h4>Liens</h4>
              </div>
              <ul>
                <li><a href="homepage.html">Accueil</a></li>
                <li><a href="#">A propos de nous</a></li>
                <li><a href="#">Aide</a></li>
               <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="col" id="col-lg-3">
                <div class="logo2"><a href="homepage.html"><img src="img\logo31.png" class="logof"></a></div>
                <div class="bottom">
                  <div class="footer-title">
                    <h4>Suivez nous</h4>
                  </div>
                  <ul class="footer-social">
                    <li><a href="" target="_blank"><i class="fab fa-facebook f1"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-instagram f1"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-google-plus-square f1"></i></a></li>
                  </ul>
                </div>
            </div>
            <div class="col" id="col-lg-4">
              <div class="footer-title">
                <h4>Informations</h4>
              </div>
              <ul>
                <li><a href="#">Livraison</a></li>
                <li><a href="#">Paiement</a></li>
                <li><a href="#">Conditions d'utilisation</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>    
    </body>
</html>
