<html>
    <head>
     	<meta charset="utf-8" />
        <title>Product Details Design</title>
        <link rel="stylesheet" type="text/css" href="Header&footer.css">
        <link rel="stylesheet" type="text/css" href="product.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>   
    </head>
    <body>
<!-------------------------------------------------------TopNav---------------------------------------------------------->
      <ul class="nav topnav" id="nav1">
        <li class="nav-item">
          <a class="nav-link" href="#">Aide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">A propos de nous</a>
        </li>
      </ul>
      <ul class="nav justify-content-end topnav" id="nav2">
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="#"><i class="fa fa-truck" aria-hidden="true"></i>Suivre ma commande</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Se connecter</a>
        </li>
      </ul>
<!------------------------------------------------------LogoSearchNav----------------------------------------------------------->
       <div class="nav" id="navbar">
        <span class="logo">
            <img src="img\whitelogo1.png" class="img-fluid" id="logoimg">
          </span>
       <div  class="search">
        <input type="search" class="form" placeholder="search">
         <span class="input"><i class="fa fa-search" aria-hidden="true"></i></span>
       </div>
       <div class="nav2">
        <ul>
         <li class="compte"><a href="#"><i class="fas fa-user-circle"></i>Mon compte</a></li>
         <li class="panier"><a href="#"><i class="fa fa-shopping-basket "></i>Panier<span class="show"></a></li>
        </ul>
       </div>
      </div>
<!----------------------------------------------------------MegaMenu-------------------------------------------------------------------> 
      <div class="nav-3">     
       <ul class="nav3">
          <li>
           <a href="#">Catégories</a>
           <div>
            <div class="nav-column">
             <h3>Mode</h3>
             <ul>
              <li><a href="#">Vêtements femme</a></li>
              <li><a href="#">Vêtements homme</a></li>
              <li><a href="#">Chaussures femme</a></li>
              <li><a href="#">Chaussures homme</a></li>
              <li><a href="#">Accessoire femme</a></li>
              <li><a href="#">Accessoire homme</a></li>
             </ul>
            </div>
            <div class="nav-column">
             <h3>Eléctroménager</h3>
             <ul>
              <li><a href="#">Télévisions</a></li>
              <li><a href="#">Eléctroménager</a></li>
              <li><a href="#">Appareil photo</a></li>
              <li><a href="#">Audio</a></li>
              <li><a href="#">Accessoires TV</a></li>
              <li><a href="#">Caméras</a></li>
             </ul>
             <h3>Beauté</h3>
             <ul>
              <li><a href="#">Maquillage</a></li>
              <li><a href="#">Parfum</a></li>
              <li><a href="#">Cheveux,Coiffure</a></li>
              <li><a href="#">Soin</a></li>
             </ul>
            </div>
            <div class="nav-column">
             <h3>Informatique</h3>
             <ul>
              <li><a href="#">Ordinateurs</a></li>
              <li><a href="#">Téléphones</a></li>
              <li><a href="#">Tablettes</a></li>
              <li><a href="#">Périphériques</a></li>
              <li><a href="#">Imprimantes</a></li>
              <li><a href="#">Scanners</a></li>
             </ul>
            </div>
            <div class="nav-column">
             <h3>Lifestyle</h3>
             <ul>
              <li><a href="#">Sports,Fitness</a></li>
              <li><a href="#">Musique</a></li>
              <li><a href="#">Accessoires</a></li>
             </ul>
             <h3>Autres</h3>
             <ul>
              <li><a href="#">Bébé,puériculture</a></li>
              <li><a href="#">Jeux,jouets</a></li>
             </ul>
            </div>
           </div>
          </li>
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Services</a>
           <div>
            <div class="nav-column">
             <h3>Evènements</h3>
             <ul>
              <li><a href="#">Restaurants,café</a></li>
              <li><a href="#">Cameraman,DJ</a></li>
              <li><a href="#">Salles des fetes</a></li>
              <li><a href="#">Formations</a></li>
              <li><a href="#">Décorations</a></li>
              <li><a href="#">Hotellerie</a></li>
             </ul>
            </div>
            <div class="nav-column">
             <h3>Services</h3>
             <ul>
              <li><a href="#">Médecin,santé</a></li>
              <li><a href="#">Nettoyage,jardinage</a></li>
              <li><a href="#">Beauté</a></li>
              <li><a href="#">Réparation</a></li>
              <li><a href="#">Informatique</a></li>
              <li><a href="#">Autres</a></li>
             </ul>
            </div>
           </div>
          </li>
          <li><a href="#">Acheter</a></li>
          <li><a href="#">Vendre</a></li>
          <li><a href="#">Echanger</a></li>
         </ul>
        </div>

        
<!-----------------------------------------------BreadCrumb Nav----------------------------------------------------------->
      <div class="BC">
        <ul class="BCNav">
          <li><a href="#"><i class="fas fa-home"></i>Accueil</a></li>
          <li><a href="#">Mode</a></li>
          <li><a href="#">Vetements homme</a></li>
          <li>Info Produit</li>
        </ul>
      </div>
<!-------------------------------------------------------------------Product details--------------------------------------->
      <section class="container">
        <div class="row">
          <div class="col1">
            <div class="slide"> 
              <img src="img\pr1.jpg">
            </div>
            <div class="slide"> 
              <img src="img\pr2.jpg">
            </div>
            <div class="slide"> 
              <img src="img\pr3.jpg">
            </div>
            <div class="row12">
              <div class="column first">
                <img class="demo cursor" src="img\pr1.jpg" style="width:100%" onclick="currentSlide(1)">
              </div>
              <div class="column">
                <img class="demo cursor" src="img\pr2.jpg" style="width:100%" onclick="currentSlide(2)">
              </div>
              <div class="column">
                <img class="demo cursor" src="img\pr3.jpg" style="width:100%" onclick="currentSlide(3)">
              </div>
            </div>
          </div>
          <div class="col2">
            <h2>Sweat à capuche en tissu Fleece pour Homme</h2>
            <hr>
            <p>Par le vendeur HHHHHH</p>
            <p class="price">1000DZD</p>
            <hr>
            <p><b>Details du produit</b></p>
            <p>Capuche ajustable</p>
            <p>Imprimé à l'encre doux au toucher sur la poitrine</p>
            <p>Composition : 60 % coton / 40 % polyester</p>
            <p>Lavable en machine</p>
            <div class="styled-select select1">
              <select name="color">
                <option>couleur</option>
                <option>noir</option>
                <option>bleu</option>
              </select>
            </div>
            <div class="styled-select select2">
              <select name="color">
                <option>taille</option>
                <option>L</option>
                <option>XL</option>
              </select>
            </div>
            <div class="quantité">
              <label>Quantité: </label>                                 
              <input type="text" value="1">
            </div>
<!----------tab---------------------------->
            <div class="tab">
              <a class="tablinks active" id="target1" onclick="currentTab(1)"  href="#target1"><b>Description</b></a>
              <a class="tablinks" id="target2" onclick="currentTab(2)"  href="#target2"><b>Informations d'annonceur</b></a>
            </div>
<!---Tab content ------->
            <div id="description" class="tabcontent">
              <p>DOUX, CHAUD ET STYLÉ.</p>
              <p>Le sweat à capuche Hurley Crone One and Only présente un tissu Fleece doux au look texturé, assurant une chaleur et un confort sans failles par temps froid.</p>
              <p>Avantages<br>
              Tissu Fleece doux et chaud<br>
              Poche kangourou permettant de ranger vos petits objets et de garder vos mains au chaud.</p>
            </div>
            <div id="informations" class="tabcontent">
              <ul>
                <li><i class="fas fa-user"></i>Nom Prénom</li>
                <li><i class="fas fa-at"></i>Nom-prénom@e-mail.com</li>
                <li><i class="fas fa-map-marker-alt"></i>Adresse cité rue numéro</li>
                <li><i class="fas fa-phone"></i>Téléphone</li>
              </ul> 
            </div>
          </div>
        </div>
        <div class="row2">
          <a href="#!" class="button buy add" onclick="addAndBuy()">Ajouter au panier</a>
          <a href="checkout.html" class="button buyNow">Acheter maintenant</a>
        </div>
        <div class="row3">
          <form>
            Questions: <br>
            <input type="text" name="quetions" class="askInput" placeholder="Posez vos questions..."><br>
            <input type="submit" value="Envoyer" class="envoyerInput">
          </form>
         </div>
        </section>
<!----------------------------------------------Message Alert when adding a product to cart------------------------------------------------>
      <div id="toast">
        <div id="desc">
          <i class="fa fa-cart-plus"></i>
          <span>Le produit est ajouté à votre panier.</span>
        </div>
      </div>
<!--------------------------------------------------------Footer--------------------------------->
      <section class="footer">
        <div class="container">
          <div class="row align-items-start">
            <div class="col" id="col-lg-2">
              <div class="footer-title">
                <h4>Liens</h4>
              </div>
              <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">A propos de nous</a></li>
                <li><a href="#">Aide</a></li>
               <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="col" id="col-lg-3">
                <div class="logo2"><img src="img\logo31.png" class="logof"></div>
                <div class="bottom">
                  <div class="footer-title">
                    <h4>Suivez nous</h4>
                  </div>
                  <ul class="footer-social">
                    <li><a href="" target="_blank"><i class="fab fa-facebook f1"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-instagram f1"></i></a></li>
                    <li><a href="" target="_blank"><i class="fab fa-google-plus-square f1"></i></a></li>
                  </ul>
                </div>
            </div>
            <div class="col" id="col-lg-4">
              <div class="footer-title">
                <h4>Informations</h4>
              </div>
              <ul>
                <li><a href="#">Livraison</a></li>
                <li><a href="#">Paiement</a></li>
                <li><a href="#">Conditions d'utilisation</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>  
      <script type="text/javascript" src="js/javascript.js"></script>
      <script type="text/javascript" src="js/javascript2.js"></script>
    </body>
</html>