.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}


/******************************************************************************************/
/*
 * for trade sell option
 */
.details{
  display: none;
}
#Trade, #Sell { display: none;}

#customRadio1:checked ~ #Trade {display: block;} 
#customRadio1:checked+label:before, #customRadio2:checked+label:before{
background:#1D2951;
}

#customRadio2:checked ~ #Sell {display: block;}



