/****************************************carousel*********************************************/
.slider
{
	width:80%;
	margin-top:30px;
	padding: 0 10px;
	margin-left:120px;
}
.carousel-item
{
	max-height:405px;

}
.caption2 p
{
   font-size: 24px;
   color:#3c3c3c;
}
.caption2 h5
{
	font-size: 26.5px;
    color:#1D2951;
}
.caption2
{
	top: auto;
    bottom: 0;
    margin-left:312px;
}
.caption1
{
	top:0;
	bottom:auto;
	margin-left: 200px;
}
.caption1 h5{ font-size: 35px; color:#1D2951; }
.caption1 p{ font-size: 30px; color:#555555 }
.caption3
{
    top:270px;
    bottom: 0;
    margin-right:500px;
    text-align: right;
}
.caption3 h5 {font-size:23px; color:#1D2951; }
.caption3 p a
{
	font-size: 20px;
	color :#555555;
    border: 1px solid #f9e9f3;
    padding:2px 8px;
    text-decoration:none;
}
.caption3 p a:hover{background-color:#F9E9F3;}
.caption4
{
	top:185px;
	bottom: auto;
	text-align: center;
}
.caption4 h5{font-size: 30px; color:#1D2951;}
.caption4 p a
{
	font-size: 25px;
	color :#555555;
    border: 1px solid #f9e9f3;
    padding:3px 10px;
    text-decoration:none;
}
.caption4 p a:hover{background-color:#F9E9F3;}
.caption5
{
	top:185px;
	bottom: auto;
	text-align: center;
}
.caption5 h5{font-size: 30px; color:#f9e9f3;}
.caption5 p a
{
	font-size: 25px;
	color :#555555;
    border: 1px solid #f9e9f3;
    padding:3px 10px;
    text-decoration:none;
}
.caption5 p a:hover{background-color:#F9E9F3;}
.slider .carousel{ box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5); }
.slider .carousel-indicators {z-index: 1;}
/*********************************************features************************************/
.featured-categories
{
	margin: 30px 0;
}
.featured-categories img
{
	display: inline-flex;
	width:60%;
	height: 100%;
	transition: 1s;
	cursor: pointer;
	padding: 0;
	margin:0;
	float: left;
}
.content-heading
{   display: inline-block;
	height:100%;
	width:40%;

	color:black;
	margin-bottom:0;
	text-align: center;
	background: #F5F5F4;
}
.content-heading p
{
    font-size:16px;
    padding-top:20px;
    margin-right:2px;
    margin-left:2px;
}
.content-heading p a
{
	display: inline-block;
	font-size:16px;
	color:#555555;
	border:1px solid #F3D5E8;
	padding:10px 20px;
	margin-top:20px;
    text-decoration: none;
    font-weight: 700;
}
.content-heading p a:hover{ color:#1D2951; background:#F3D5E8; }

/**********************************************promotions************************/
.container-product-list
{
	margin-top:auto;
    margin-bottom: auto;
	margin-left: 30px;
	margin-right: 30px;

}
/***************************************Titre*******************************************/
.title-box
{
	width: 200px;
	padding: 4px 10px;
	height: 40px;
	margin-bottom: 30px;
	display: flex;
	background: #F5F5F4;
}
.title-box h2
{
	font-size: 24px;
	color:black;
}
.title-box::after
{
	content: '';
	border-top: 40px solid #F5F5F4;
	border-right: 50px solid transparent;
	position: absolute;
	display: flex;
	margin-top: -4px;
	margin-left: 190px;
}
/*******************************New products and promotions  *****************************/

.promos
.carousel
{
	margin-top: auto;
	margin-bottom:100px;
}
.productsRow{ width: 100%;}
.col
{
	margin:0;
}
.item
{
	width:70%;
	display:inline-block;
	margin-left:60px;

}
.product-top
{
    display: block;}
.product-text
{
   display: block;
}
.product-top img
{
	width: 100%;
	height:200px;
}
.overlay
{
	cursor: pointer;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left: 0;
	width:70px;
}
.overlay .f
{
    cursor: pointer;

    color:#000;
    height:30px;
    width:30px;
    font-size: 20px;
    padding:5px 0px;
    margin-top:5px;
    margin-bottom:0px;
}
.overlay .btn-secondary
{
	background: none;
	box-shadow: none;
	border: none;
	padding:6px 6px;
	margin-top: 3px;
	background: white;
}
.product-top:hover .overlay
{
	opacity: 1;
	margin-left:5%;
	transition: 0.5s;
}
.product-top:hover .overlay button:hover
{
   background:#9CA0A5;
}
.product-text h3
{
	font-size:19px;
	font-weight: bold;
	text-align: center;
}
.product-text h6
{
	display: inline;
	font-size:17px;
	padding-bottom: 0px;
	margin-left: 30px;
	text-align:center;
	text-decoration: line-through;
	color: #555555;
}
.product-text h4
{
    display: inline-block;
	font-size:18px;
	padding-bottom: 0px;
	text-align:center;
	color: #1D2951;
}
.product-text h5
{
	font-size: 18px;
	color:#1D2951;
	text-align: center;
}
.promos .carousel-control-next
{
	height: 30px;
	position: absolute;
    top:90px;
    right:20px;
    width: 50px;
    list-style: none;
    text-align:right;
    cursor: pointer;
    border: none;
    border-radius: 40%;
    background-color: #555555;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);

}
.promos .carousel-control-prev
{
	height: 30px;
	position: absolute;
    top:90px;
    left:20px;
    width: 50px;
    list-style: none;
    text-align:right;
    cursor: pointer;
    border: none;
    border-radius: 40%;
    background-color: #555555;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);

}
/**************************************************Add toCart Alert******************************************/
#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #desc{


    color: #fff;

    padding: 16px;
    margin-left: 0px;
    overflow: hidden;
	white-space: nowrap;
}
#toast #desc .fa-cart-plus{
	float: left;
	margin-left:0px;
}
#toast #desc span{
	margin-left:50px;
}
#toast.appear {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;}
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;}
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}