<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    {% load bootstrap3 %}
    <title>
                    {% if category %}{{ category.title }}{% else %}Products{% endif %}
    </title>
</head>
<body>
<div class="row">
        <div class="col-md-12">
            <div class="col-md-6 col-md-4">

            </div>
            <div class="col-md-6 col-md-4">
                <div class="thumbnail">
                    <img src="{% if product.image %}{{ product.image.url }}
                              {% else %}{% static "1.png" %}{% endif %}"
                         class="img-responsive">
                    <div class="caption">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3>{{ product.name }}</h3>
                            </div>
                            <div class="col-md-6 col-xs-6 price">
                                <h3>
                                    <label>${{ product.price }}</label></h3>
                            </div>
                        </div>
                        <p>{{ product.description }}</p>
                        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {% csrf_token %}
                            {% bootstrap_form cart_product_form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-success btn-product">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                                </button>
                            {% endbuttons %}
                        </form>

                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-4">

            </div>
        </div>

    </div>
</body>
</html>